# Node backend
/node-react-backend/node_modules
/node-react-backend/.env

# React frontend
/node-react-frontend/node_modules
/node-react-frontend/.env

# Log files
*.log

# macOS and Windows junk
.DS_Store
Thumbs.db


